<div class="tab-content-cls">
    <div id="tab-category-1" class="tab-content active default">
        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="      ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/EG41agm.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="      ">
                        <h6> Lữ khách </h6>
                    </a>
                    <h4 class="text-lowercase">30.000 đ <del></del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="      cô vợ thứ 5">
                <div class="img-wrapper">

                    <div class="lable-block">
                        <span class="lable4 badge badge-danger"> -10%</span>
                    </div>

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/9UEEuiF.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="      cô vợ thứ 5">
                        <h6> Nakano miku </h6>
                    </a>
                    <h4 class="text-lowercase">45.000 đ <del>50.000 đ</del></h4>
                </div>
            </div>
        </div>
        <div class="text-center"><a href="list.html" class="btn btn-solid">Xem tất cả</a></div>
    </div>
    <div id="tab-category-3" class="tab-content active default">
        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="  ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/hVLf7eG.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="  ">
                        <h6> toán 2 </h6>
                    </a>
                    <h4 class="text-lowercase">60.000 đ <del></del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="      ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/Ew8Q324.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="      ">
                        <h6> toán 2-2 </h6>
                    </a>
                    <h4 class="text-lowercase">30.000 đ <del></del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="  ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/rxKm1hs.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="  ">
                        <h6> mỹ thuật </h6>
                    </a>
                    <h4 class="text-lowercase">50.000 đ <del></del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="  sách tập vẽ">
                <div class="img-wrapper">

                    <div class="lable-block">
                        <span class="lable4 badge badge-danger"> -30%</span>
                    </div>

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/NWu5Vm2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="  sách tập vẽ">
                        <h6> tập vẽ </h6>
                    </a>
                    <h4 class="text-lowercase">4.900 đ <del>7.000 đ</del></h4>
                </div>
            </div>
        </div>
        <div class="text-center"><a href="list.html" class="btn btn-solid">Xem tất cả</a></div>
    </div>
    <div id="tab-category-7" class="tab-content active default">
        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="mario puzo bố già">
                <div class="img-wrapper">

                    <div class="lable-block">
                        <span class="lable4 badge badge-danger"> -90%</span>
                    </div>

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/vj7g7Pu.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="mario puzo bố già">
                        <h6> bố già </h6>
                    </a>
                    <h4 class="text-lowercase">4.000 đ <del>40.000 đ</del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="      ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/078WSOd.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="      ">
                        <h6> Ma tôn </h6>
                    </a>
                    <h4 class="text-lowercase">50.000 đ <del></del></h4>
                </div>
            </div>
        </div>

        <div class="no-slider row tab-content-inside">
            <div class="product-box" title="        ">
                <div class="img-wrapper">

                    <div class="front">
                        <a href="item.html">
                            <img src="public/files/book/3nRIjK0.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="product">
                        </a>
                    </div>
                    <div class="cart-info cart-wrap">
                        <a href="#" title="Add to cart"><i class="ti-shopping-cart"></i></a>
                        <a href="#" title="Quick View"><i class="ti-search" data-toggle="modal"
                                data-target="#quick-view"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="item.html" title="        ">
                        <h6> Đồi mưa gió </h6>
                    </a>
                    <h4 class="text-lowercase">50.000 đ <del></del></h4>
                </div>
            </div>
        </div>
        <div class="text-center"><a href="list.html" class="btn btn-solid">Xem tất cả</a></div>
    </div>
</div>
<div class="tab-content-cls">